<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
<!--        <welcome-file>/ex0323/ex03_way.html</welcome-file>-->
<!--        <welcome-file>/ex0323/ex04_variable.html</welcome-file>-->
<!--        <welcome-file>/ex0323/ex05_variable_let.html</welcome-file>-->
<!--        <welcome-file>/ex0323/ex06_operator.html</welcome-file>-->
<!--        <welcome-file>/ex0323/ex07_function.html</welcome-file>-->
<!--        <welcome-file>/ex0323/ex08_functionExam.html</welcome-file>-->
<!--        <welcome-file>/ex0323/ex09_ifExam.html</welcome-file>-->
<!--        <welcome-file>/ex0323/ex10_switch.html</welcome-file>-->
<!--        <welcome-file>/ex0323/ex11_forGuguDan.html</welcome-file>-->
<!--        <welcome-file>/ex0323/ex12_star.html</welcome-file>-->
<!--        <welcome-file>/ex0324/ex01_MathArray.html</welcome-file>-->
<!--        <welcome-file>/ex0324/ex02_backColor.html</welcome-file>-->
<!--        <welcome-file>/ex0324/ex03_timing.html</welcome-file>-->
<!--        <welcome-file>/ex0324/ex04_backColorChange.html</welcome-file>-->
<!--        <welcome-file>/ex0324/ex05_textAccess.html</welcome-file>-->
<!--        <welcome-file>/ex0324/ex06_textMove.html</welcome-file>-->
<!--        <welcome-file>/ex0324/ex07_textMove_setInterval.html</welcome-file>-->
<!--        <welcome-file>/ex0324/ex08_Date.html</welcome-file>-->
<!--        <welcome-file>/ex0324/ex09_DateGap.html</welcome-file>-->
<!--        <welcome-file>/ex0324/ex10_Timer.html</welcome-file>-->
<!--        <welcome-file>/ex0325/ex04_onChange.html</welcome-file>-->
<!--        <welcome-file>/ex0325/ex05_eval.html</welcome-file>-->
<!--        <welcome-file>/ex0325/ex06_selectChange.html</welcome-file>-->
<!--        <welcome-file>/ex0326/ex01_DynamicStyle.html</welcome-file>-->
<!--        <welcome-file>/ex0326/ex02_onSubmit_onReset.html</welcome-file>-->
<!--        <welcome-file>/ex0326/ex03_imgObject.html</welcome-file>-->
<!--        <welcome-file>/ex0326/ex04_imgChange.html</welcome-file>-->
<!--        <welcome-file>/ex0326/ex04_imgZoom.html</welcome-file>-->
<!--        <welcome-file>/ex0326/ex05_imgMove.html</welcome-file>-->
<!--        <welcome-file>/ex0326/ex06_MemberForm.html</welcome-file>-->
<!--        <welcome-file>/ex0326/ex07_main.html</welcome-file>-->
<!--        <welcome-file>/ex0326/ex08_iframeMain.html</welcome-file>-->
<!--        <welcome-file>/ex0326/ex09_BOM.html</welcome-file>-->
<!--        <welcome-file>/ex0326/ex05_DomAccess.html</welcome-file>-->
<!--        <welcome-file>/ex0329_jQuery/start.html</welcome-file>-->
<!--        <welcome-file>/ex0329_jQuery/chapter_10/10-1.selector.html</welcome-file>-->
<!--        <welcome-file>/ex0329_jQuery/chapter_10/10-3.selectorAttr.html</welcome-file>-->
<!--        <welcome-file>/ex0329_jQuery/chapter_10/10-4.selectorFilterTable.html</welcome-file>-->
<!--        <welcome-file>/ex0329_jQuery/chapter_10/10-5.focus_blur_Event.html</welcome-file>-->
<!--        <welcome-file>/ex0329_jQuery/chapter_10/10-6.change_Event.html</welcome-file>-->
<!--        <welcome-file>/ex0329_jQuery/chapter_10/10-7.submit_Event.html</welcome-file>-->
<!--        <welcome-file>/ex0329_jQuery/chapter_10/10-12.trigger__Event.html</welcome-file>-->
<!--        <welcome-file>/ex0329_jQuery/chapter_10/10-14.each_2.html</welcome-file>-->
<!--        <welcome-file>/ex0330_jQuery/chapter_11/11-3.append_prepend.html</welcome-file>-->
<!--        <welcome-file>/ex0330_jQuery/chapter_11/11-5.remove_empty.html</welcome-file>-->
<!--        <welcome-file>/ex0330_jQuery/chapter_11/11-7.dom_Attr_1.html</welcome-file>-->
<!--        <welcome-file>/ex0330_jQuery/chapter_11/11-9.dom_Attr_3.html</welcome-file>-->
<!--        <welcome-file>/ex0330_jQuery/chapter_11/11-15.addClass_removeClass.html</welcome-file>-->
<!--        <welcome-file>/ex0330_jQuery/chapter_11/11-16.toggleClass_1.html</welcome-file>-->
<!--        <welcome-file>/ex0330_jQuery/chapter_12/12-1.show_hide_toggle.html</welcome-file>-->
<!--        <welcome-file>/ex0330_jQuery/chapter_12/12-2.fadeIn_fadeOut_fadeToggle.html</welcome-file>-->
<!--        <welcome-file>/ex0330_jQuery/chapter_12/12-4.fadeIn_fadeOut_Navigation.html</welcome-file>-->
        <welcome-file>/ex0330_jQuery/chapter_12/12-5.slideDown_slideUp.html</welcome-file>
    </welcome-file-list>
</web-app>