<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
<!--        <welcome-file>/ex0323/ex03_way.html</welcome-file>-->
<!--        <welcome-file>/ex0323/ex04_variable.html</welcome-file>-->
<!--        <welcome-file>/ex0323/ex05_variable_let.html</welcome-file>-->
<!--        <welcome-file>/ex0323/ex06_operator.html</welcome-file>-->
<!--        <welcome-file>/ex0323/ex07_function.html</welcome-file>-->
        <welcome-file>/ex0323/ex08_functionExam.html</welcome-file>
    </welcome-file-list>
</web-app>